/************* RESPONSIVE LARGE MOBILE *************/

@media screen and (min-width: 576px) {

    /*  SOCIAL NETWORKS */
    .social-networks button {
        width: 100%;
        padding: 12px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    /* PRESENTATION */
    .presentation img {
        float: left;
        width: 600px;
        margin-right: 25px;
    }

}

/************* RESPONSIVE TABLET *************/

@media screen and (min-width: 768px) {

    /* Utilities */
    .container {
        padding: 40px;
    }

    /*  HEADER  */
    #topbar {
        display: flex;
        justify-content: start;
    }

    /************* RECIPE *************/
    /* Recipe header */
    .recipe-title {
        font-size: 23px;
    }

    .recipe-name {
        display: flex;
        gap: 10px;
    }

    .recipe-origin {
        display: flex;
    }

    /* Quick Notes */
    .quick-notes ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 30px;
    }

    /*  SOCIAL NETWORKS */
    .social-networks button {
        width: 100%;
        padding: 12px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    /* ADS */
    .ads {
        display: inline;
        margin: 30px auto;
    }

    .ads img {
        max-width: 100%;
        margin: 30px 0 0 0;
    }

    /* PRESENTATION */
    .presentation img {
        float: left;
        width: 600px;
        margin-right: 25px;
    }

}

/************* RESPONSIVE DEKSTOP *************/

@media screen and (min-width: 992px) {

    /************* RECIPE *************/
    /* Recipe header */
    .recipe-title {
        font-size: 30px;
    }

    /* Quick Notes */
    .quick-notes ul {
        display: block;
    }

    /* Recipe Card */
    .recipe-card {
        display: flex;
    }

    .recipe-video {
        width: 100%;
    }

    /*  SOCIAL NETWORKS */
    .social-networks .label {
        display: inline-block;
    }

    /* FOOTER */
    footer {
        display: flex;
        text-align: justify;
        justify-content: space-between;
        align-items: end;
    }

}